---
import "../styles/landing.css"
import logoImage from "../assets/logo.png"
import solarsystemImage from "../assets/solarsystem.png"
import Tile from "../components/Tile.astro"
---



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f00d779dcd.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <title>Portfolio</title>
</head>
<body>
    <div class="wrapper">
        <div class="text">
            <h1 class="heading">Hey, I'm <mark class="blue">Anush</mark>.</h1>
            <p class="description">High school student and game development enthusiast <br>exploring code and technology.</p>
            <button class="project_btn">View Projects</button>
        </div>
    </div>

    <div class="sections">
        <div class="about">
            <h1 class="about_heading">About</h1> 
            <div class="about_holder">
                <div class="about_text_holder">
                    <p class="about_description">Hey i'm Anush! I'm a sophmore in high school, and I enjoy creating programs and developing games. In my free time, I work on projects to learn new skills and challenge myself. I'm curious about how things works and enjoy solving problems through coding. My interests also include experimenting with new tools and sharing what I create with others. I aim to keep improving, learning new tools, and exploring new technology. Welcome to my portfolio, here you can find my completed and my work in progress projects.</p>
                </div>
             
            </div>
        </div>
        <div class="projects">
            <h1 class="projects_header">Projects</h1>
            <div class="project-gallery">
                <Tile image={solarsystemImage.src} name="Orrery Model" description="Made in Godot with GDscript. This was my first completed project in Godot. This was a huge learning opportunity and I hope to improve this in the future."/>
                <Tile image={solarsystemImage.src} name="Orrery Model" description="Made in Godot with GDscript. This was my first completed project in Godot. This was a huge learning opportunity and I hope to improve this in the future."/>
                <Tile image={solarsystemImage.src} name="Orrery Model" description="Made in Godot with GDscript. This was my first completed project in Godot. This was a huge learning opportunity and I hope to improve this in the future."/>
                <Tile image={solarsystemImage.src} name="Orrery Model" description="Made in Godot with GDscript. This was my first completed project in Godot. This was a huge learning opportunity and I hope to improve this in the future."/>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p class="footer_text">Contact Me: anushmudiganti@gmail.com</p>
        <div class="icons_holder">
            <span class="icon"><i class="fa-brands fa-github"></i></span>
            <span class="icon"><i class="fa-brands fa-itch-io"></i></span>
            <span class="icon"><i class="fa-brands fa-codepen"></i></span>
        </div>
    </footer>
</body>

<script is:inline>
    let positionX = 0;
    let positionY = 0;

    function moveBackground() {
        positionX += 0.05; 
        positionY += 0.05;
        document.body.style.backgroundPosition = `${positionX}px ${positionY}px`;
        requestAnimationFrame(moveBackground); 
    }

    moveBackground(); 
</script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
    console.log("project button test");
    const projectButton = document.querySelector(".project_btn");
    const targetSection = document.querySelector(".projects");

    if(projectButton && targetSection) {
        projectButton.addEventListener("click", () => {
            targetSection.scrollIntoView({behavior: "smooth", block: "nearest"});
        });
    }
    });
</script>
</html>