---
const {image, name, description, link} = Astro.props;
import '../styles/tile.css'
---

<a href={link} target="_blank">
    <div class="project_tile">
        <img src={image} alt={name} class="project_image" />
        <h2 class="project_name">{name}</h2>
        <p class="project_description">{description}</p>
    
    </div>
</a>



